footer > div {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  padding: 0 90px;
  margin-bottom: 50px;
}

.signUp span {
  font-weight: 600;
}

.signUp form {
  margin-top: 15px;
}

.inputEmail {
  padding: 7px 15px;
  font-size: 14px;
  opacity: 0.5;
  border: 1px solid black;
}

.inputSubmit {
  width: 155px;
  height: 40px;
  background-color: #f0f3f4;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-left: 10px;
}

.footer__list {
  margin-left: 30px;
  font-size: 14px;
}

.footer__list span {
  font-weight: 600;
}

.footer__list ul {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.footer__list li {
  margin: 5px 0;
  transition: all 0.1s ease;
}

.footer__list li:hover {
  cursor: pointer;
  opacity: 0.7;
}
