@import "reset.css";

body {
  font-family: "Yaldevi", sans-serif;
  letter-spacing: 1px;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: fixed;
  padding: 20px 15px;
  font-size: 14px;
}

.header__title span:first-child {
  font-weight: 600;
}

.header__title span:last-child {
  opacity: 0.6;
}

.header__list {
  display: flex;
}

.header__list li {
  margin-right: 20px;
  opacity: 0.8;
}

.header__list li:hover,
.header__title:hover {
  color: blue;
}
