.header-section {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 140px;
  letter-spacing: 2.5px;
  position: fixed;
  z-index: 1;
}

.header-section > div,
.header-section li {
  cursor: pointer;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  width: 17%;
}

.header-section nav ul {
  display: flex;
}

.header-nav li:first-child {
  margin-right: 50px;
}

.header-nav li:hover {
  color: rgba(0, 0, 0, 0.5);
}

.journal li:first-child {
  margin-right: 35px;
}
