.main {
  width: 100%;
  height: 100%;
  padding: 15vh 140px 0 140px;
  word-spacing: 4px;
  letter-spacing: 1.5px;
}

.main-content__title button:hover,
.addBtn:hover {
  background-color: #414141;
  color: #fff;
  transition: all 0.3s linear;
}

/* main-article__item01 */

.main-content {
  display: flex;
}

.main-content__title {
  width: 620px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  line-height: 1.2;
}

.main-content:first-child .main-content__title {
  background-color: #fbf7f6;
}

.main-content:last-child .main-content__title {
  background-color: #f3ede8;
}

.main-content__title p {
  font-size: 36px;
  text-align: center;
  width: 60%;
}

.main-content__title button {
  width: 240px;
  height: 55px;
  background-color: #fff;
  border: var(--button-border);
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 60px;
}

/* main-article__item02 */

.main-article__item02 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-article__item02-title h6 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

.main-article__item02-title h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.main-article__item02-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-article__item02-content section {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theShop-info {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-size: 14px;
}

.new {
  color: #cfa102;
}

.division {
  margin: 0 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.theShopColor {
  font-size: 28px;
}

.price {
  text-align: center;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.addBtn {
  width: 250px;
  height: 50px;
  background-color: #fff;
  border: var(--button-border);
}
