.main__title {
  padding: 260px 265px 130px 60px;
  font-size: 74px;
  font-weight: 600;
  line-height: 80px;
}

.main__image img {
  width: 100%;
  height: 100vh;
}

.sub__title {
  padding: 140px 600px 80px 60px;
  font-size: 110px;
  line-height: 140px;
}

.market-info__container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.market-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.market-info img {
  width: 90%;
  height: 500px;
  margin-bottom: 30px;
}

.market-info span {
  width: 90%;
  font-weight: 600;
  line-height: 25px;
  word-spacing: 6px;
}

.event__title {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 90px;
  font-weight: 600;
  line-height: 100px;
}

.evnet__title-box {
  display: flex;
  margin-bottom: 50px;
}

.empty {
  width: 100%;
}

.event__list {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
}

.eventPlan {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.eventDay {
  font-size: 14px;
  opacity: 0.6;
}

.eventInfo {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
}

.dashed {
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 40px 1px;
  background-repeat: repeat-x;
  padding-bottom: 12px;
  margin: 0 60px;
}

.btnBox {
  position: relative;
}

.eventBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.address-info {
  display: flex;
  padding: 0 60px;
  margin-top: 130px;
  justify-content: space-between;
}

.address {
  width: 590px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 64px;
  line-height: 80px;
  border: 1px dashed black;
}

.address span {
  width: 80%;
}

.map {
  width: 590px;
  height: 340px;
  background-image: url("https://images.prismic.io/canalstreetmarket/74921c6bf0abf767666c52a6af3c001c58643587_group-11.jpg?auto=compress,format");
  border: 1px dashed black;
}
